
/* Ask tutor about getting these on opposite side of the page */
.top-container{
    display: flex;
    justify-content: space-between;


}
h3 {
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 h1{
     justify-content: center;
 }

 p{
     width: 40%;
 }

.btns{}

a{
    text-decoration: none;
    color: black;
}
#hiddenQ{
    display:none;
}
